@charset "utf-8";

/*
 * Global layout 
 */

body { 
  font-size: 11px;
  width: 40em;
  margin: 2em auto;
  -webkit-text-size-adjust: 100%;
}
@media screen and (max-device-width : 640px) {
  body {
    font-size: 13px;
    width: 90%;
    margin: 1em auto;
  }
}
@media screen and (max-device-width : 1024px) {
  body {
    font-size: 13px;
  }
}

@media screen and (max-device-width : 1024px) {
  @viewport {
    width: device-width;
    zoom: 1.0;
  }
  @-ms-viewport{
    width: device-width;
  }
}

/*
 * Patrick Lauke
 * http://www.hicksdesign.co.uk/journal/forcing-scrollbars-now-even-better
 */
html { 
  height: 100%; 
  margin-bottom: 1px; 
}

/*
 * Colors
 */

body {
  color: #333;
  background-color: #fff;
}

a {
  color: #333;
  background-color: inherit;
}

h1, h2 {
}

a:hover {
  background-color: #ccc;
}

table, th, td {
  border: 1px solid #333;
}

/*
 * Fonts
 */

body {
  font-family: "Verdana", sans-serif;
  line-height: 1.3;
}

h1 {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 110%;
  font-weight: bold;
}

h3 {
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
}

h4 {
  font-size: 100%;
  font-style: italic;
}

/*
 * Block element styles.
 */

p {
  text-align: left;
  margin: 1em 0;
}

p.figurecaption {
  text-align: center;
  font-style: italic;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

p.longfigurecaption {
  text-align: left;
  font-style: italic;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

p.tablecaption {
  text-align: center;
  font-style: italic;
  margin-left: 2em;
  margin-right: 2em;
}

p.longtablecaption {
  text-align: left;
  font-style: italic;
  margin-left: 2em;
  margin-right: 2em;
}

ul, ol {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 1em;
  padding-left: 1em;
}

li {
  margin-top: 0.2em 0;
}

ul {
  list-style-type: square;
}

hr {
  border-top: solid 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  height: 1px;
  margin: 1.5em 0;
}

blockquote {
  font-style: italic;
}

img {
  float: none;
  border: none;
  display: block;
  margin: 2em auto;
  width: "100%";
}

img.left {
  float: none;
  border: none;
  display: inline;
  margin: 2em auto;
  width: "100%";
}

img.right {
  float: none;
  border: none;
  display: inline;
  margin: 2em auto;
  width: "100%";
}

div.center {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border-collapse: collapse;
  border: none;
}

th, td {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

table {
  margin: 1em auto;
}
